@import "./header.css";
@import "./footer.css";
body {
    font-family: "Lucida Bright", Georgia, serif;
}
.cont_detalles{
    display: flex;
    justify-content: center;
}
.text_detalles{
    padding: 10px;
    border-radius: 10px;
    background-color: #003f79;
    color: #FFF;
    margin: 20px;
    width:50% ;
    font-size: 1.1vw;
}