body {
    font-family: "Lucida Bright", Georgia, serif;
}
.header{
    background-color: #003f79;
    text-align: center;
    font-weight: bold;
}
.barnav{
    display: flex;
  flex-wrap: wrap;
  list-style: none;
}
.nav_link:hover{
    background-color: #FFF;
    color:#003f79;
    padding: 3px;
}
.nav_link{
    color:#FFF;  
    text-decoration: none;
    margin-left: 10px;
    margin-right: 10px  ;
}
.titulo_sitio{
    color: #FFF;
    font-size: 3vw;
}


.footer{
    display: flex;
    justify-content: center;
    background-color: #003f79;
    margin-top: 10px;
}
.info_footer{
    font-size: 1.2vw;
    color:#FFF;
    padding: 10px;
}

img{
    display: block;
  margin: 0 auto;
}
p{
    justify-content: center;
}
.bienvenida{
    display: flex;
    justify-content: center;
    font-weight: bold;
    font-size: 80px;
}
.cont-banner{
  display: flex;
  justify-content: center;
}
.descripcion{
    display: flex;
    justify-content: center;
    width: 50%;
    font-size: 1.2vw;
    margin-top: 20px;
    margin-left: 20px;
    border-radius: 5%;
    padding: 15px;
    background-color: rgb(134, 134, 134);
    color: #FFF;

}
