@import "./header.css";
@import "./footer.css";
body {
    font-family: "Lucida Bright", Georgia, serif;
}
.cont_titulo{
    display: flex;
    justify-content: center;
}
.titulotema{
    font-size: 2vw;
    font-weight: bold;
    color: #FFF;
    background-color: #003f79;
    padding: 10px;
    border-radius: 10px;
}

.img_page{
    width: 400px;
}
.cont_desc{
    margin-top: 20px;
    display: flex;
    justify-content: center;
}
.txt_desc{
    text-align: justify;
    color: #FFF;
    background-color: #003f79;
    padding: 15px;
    justify-items: center ;
    border-radius: 0 10px 10px 0px;
    font-size: 1.2vw;
    font-weight: bold;
}
.cont_desc_com{
    display: flex;
    width: 50%;
    border-radius: 10px;
    box-shadow:   10px 10px 5px rgb(184, 184, 184);
}
.subtema{
    margin-top: 30px;
    text-align: center;
    background-color: #003f79;
    color: #FFF;
    font-size: 1.8vw;
    padding: 10px;
}
.cont_fases_padre{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 20px;
}
.cont_fases_hijo_uno{
    background-color: #003f79;
    border-radius: 10px;
    color: #FFF;
    width: 20%;
    padding: 10px;
}
.cont_fases_hijo_dos{
    background-color: #003f79;
    border-radius: 10px;
    color: #FFF;
    width: 20%;
    padding: 10px;
}
.mat{
    display:flex;
    justify-content: center;
    gap: 20px;
    
}