@import "./header.css";
@import "./footer.css";
body {
    font-family: "Lucida Bright", Georgia, serif;
}
.cont_unidades{
    display: flex;
    justify-content: center;
    
}
.cont_unidad{
    width: 50%;
    background-color: #cdcecf;
    padding: 20px;
    border-radius:10px ;
}
.href_unidad{
    color: #003f79;
    font-weight: bold;
    text-decoration: none;  
    font-size: 1.4vw; 
}
.txt_unidad{
    text-align:justify;
    color:#FFF;
    background-color: #003f79;
    padding: 10px;
    border-radius: 10px;
}
.imgU{
    display: flex;
    justify-content: center;
    border-radius: 100%;
}
.imgFEN{
    border-radius: 100%;
}
